{
  "presets": ["env", "react"],
  "plugins": [
    "transform-regenerator",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "react-hot-loader/babel"
  ]
}
